Repository internetarchive/iari: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, codespell, bandit, isort, pyupgrade, flake8, mypy

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: dead
    name: dead
    entry: dead
    args:
      - "--exclude"
      - "test_data/test_content.py" # regex separate by "|"
    language: system
    pass_filenames: false
    # types: [python]


  - id: black
    name: black
    language: system
    entry: black .
    types: [python]

  - id: codespell
    name: codespell
    language: system
    entry: codespell
#    args:
#      - "src/"
#      - "tests/"
#      - "*.md"
#      - "*.py"
    # pass_filenames: false
    types_or: [python, markdown]
    exclude: ^test_data/

  - id: bandit
    name: bandit
    language: system
    entry: bandit --recursive --skip B101,B105,B113,B324,B501 src  # B101 is assert statements
    types: [python]

  - id: isort
    name: isort
    language: system
    entry: isort
    args: ["--profile", "black", "--filter-files"]
    types: [python]

  - id: pyupgrade
    name: pyupgrade
    language: system
    entry: pyupgrade
    args: ["--keep-runtime-typing", "--py37-plus"]
    types: [python]

# https://flake8.pycqa.org/en/latest/user/using-hooks.html
  - id: flake8
    name: flake8
    language: system
    entry: flake8
    # R505 unnecessary elif after return statement.
    # R506 unnecessary else after raise statement.
    args: ["--ignore=C408,C416,E203,F401,F541,R501,R502,R503,R504,R505,R506,W503",
           "--max-complexity=21", "--max-line-length=162", "--show-source",
           "--statistics"]
    types: [ python ]

 # https://jaredkhan.com/blog/mypy-pre-commit
  - id: mypy
    name: mypy
    entry: mypy
    language: python
    # use your preferred Python version
    # language_version: python3.7
    # additional_dependencies: ["mypy==0.790"]
    types: [python]
    # use require_serial so that script
    # is only called once per commit
    require_serial: true
    exclude: ^test_data/
    # Print the number of files as a sanity-check
    # verbose: true

#  - id: pytest
#    name: pytest
#    language: system
#    entry: pytest
##    args:
##      - "--durations=10"
##      - "--ignore=tests/test_wcdimportbot.py"
#    types: [ python ]

Update README.md
  README.md
Due: codespell

Update DEVELOPMENT_NOTES.md
  DEVELOPMENT_NOTES.md
Due: codespell

fix: More tests of MediawikiSection
  src/models/mediawiki/__init__.py
  src/models/mediawiki/section.py
  src/models/wikimedia/wikipedia/reference/enums.py
  src/models/wikimedia/wikipedia/reference/extractor.py
  src/models/wikimedia/wikipedia/reference/generic.py
  src/models/wikimedia/wikipedia/reference/template/template.py
  tests/test_section.py
Due: black, codespell, bandit, isort, pyupgrade, flake8, mypy

fix: Make all tests work for MediawikiSection
  test_data/test_content.py
  tests/test_section.py
Due: black, codespell, bandit, isort, pyupgrade, flake8, mypy

fix: Handle special case with no level 2 section name for the first part of the article in MediawikiSection. We call it "root" section for now.
  src/models/api/statistic/reference.py
  src/models/mediawiki/section.py
  src/models/wikimedia/wikipedia/analyzer.py
  src/models/wikimedia/wikipedia/reference/extractor.py
  tests/test_section.py
  tests/wikipedia/reference/test_english_wikipedia_page_reference.py
  tests/wikipedia/reference/test_extractor.py
  tests/wikipedia/test_analyzer.py
  tests/wikipedia/test_wikipedia_article.py
Due: black, codespell, bandit, isort, pyupgrade, flake8, mypy

fix: Fix handling of wikitext vs wikicode in MediawikiSection and make all the tests pass.
  pytest.ini
  src/models/mediawiki/section.py
  src/models/wikimedia/wikipedia/reference/extractor.py
  src/models/wikimedia/wikipedia/reference/generic.py
  src/models/wikimedia/wikipedia/reference/template/template.py
  test_data/test_content.py
  tests/test_section.py
  tests/wikipedia/reference/test_english_wikipedia_page_reference.py
  tests/wikipedia/reference/test_extractor.py
  tests/wikipedia/test_wikipedia_article.py
Due: black, codespell, bandit, isort, pyupgrade, flake8, mypy

chore: pre-commit fixes
  src/models/mediawiki/section.py
  src/models/wikimedia/wikipedia/reference/extractor.py
  src/models/wikimedia/wikipedia/reference/template/template.py
  tests/test_section.py
Due: black, codespell, bandit, isort, pyupgrade, flake8, mypy

chore: Reorganize and add new folder handlers.
  src/models/api/__init__.py
  src/models/api/handlers/__init__.py
  src/models/api/handlers/all.py
  src/views/statistics/all.py
  tests/api/test_all_handler.py
Due: black, codespell, bandit, isort, pyupgrade, flake8, mypy

rewrite: Generalize CheckUrl specific classes.
  src/models/api/job/check_url_job.py
  src/models/api/schema/check_url_schema.py
  src/views/check_url.py
Due: black, codespell, bandit, isort, pyupgrade, flake8, mypy

feat: New pdf endpoint which return all valid URLs found in a valid PDF document.
  deprecated/pdfx.py
  poetry.lock
  pyproject.toml
  src/__init__.py
  src/models/api/handlers/pypdf2.py
  src/models/file_io/pdf_file_io.py
  src/views/statistics/pdf.py
  tests/api/handler/test_all_handler.py
  tests/api/handler/test_pypdf2.py
  tests/api/test_article.py
  tests/api/test_pdf.py
  tests/deprecated/test_pdfx.py
  tests/test_section.py
Due: black, codespell, bandit, isort, pyupgrade, flake8, mypy

chore: pre-commit fixes
  src/models/api/handlers/pypdf2.py
Due: black, codespell, bandit, isort, pyupgrade, flake8, mypy

fix: Add support for testing to the job and schema and fix all tests.
  src/models/api/handlers/pypdf2.py
  src/models/api/job/__init__.py
  src/models/api/job/article_job.py
  src/models/api/schema/article_schema.py
  src/models/api/schema/check_doi_schema.py
  src/models/api/schema/check_url_schema.py
  src/models/api/schema/refresh.py
  src/models/file_io/__init__.py
  src/views/statistics/pdf.py
  tests/api/test_pdf.py
Due: black, codespell, bandit, isort, pyupgrade, flake8, mypy

fix: Add support for testing to the job and schema and fix all tests.
  src/models/api/handlers/pypdf2.py
  src/models/file_io/__init__.py
  tests/api/test_pdf.py
Due: black, codespell, bandit, isort, pyupgrade, flake8, mypy

chore: Add documentation to README.md
  README.md
Due: codespell

chore: Update userscript
  user_scripts/wari-and-ware.js
Due: none

fix: Fix virtualenv error in AWS
  pyproject.toml
Due: none

fix: Fix virtualenv error in AWS
  poetry.lock
Due: none

fix: Remove verbose output
  src/views/statistics/pdf.py
Due: black, codespell, bandit, isort, pyupgrade, flake8, mypy

rewrite: Improve output of pdf endpoint so that IARE knows both the extracted text and which links were extracted from it.
  src/models/api/handlers/pypdf2.py
  src/views/statistics/pdf.py
  tests/api/handler/test_pypdf2.py
  tests/api/test_pdf.py
Due: black, codespell, bandit, isort, pyupgrade, flake8, mypy

chore: pre-commit fixes
  src/models/api/handlers/pypdf2.py
  tests/api/handler/test_pypdf2.py
Due: black, codespell, bandit, isort, pyupgrade, flake8, mypy

chore: Update README.md
  README.md
Due: codespell

rewrite: Switch to pypdf.
  poetry.lock
  pyproject.toml
  src/models/api/handlers/pypdf.py
  src/views/statistics/pdf.py
  tests/api/handler/test_pypdf.py
Due: black, codespell, bandit, isort, pyupgrade, flake8, mypy

feat: New endpoint xhtml with tests and documentation.
  README.md
  poetry.lock
  pyproject.toml
  src/__init__.py
  src/models/api/handlers/xhtml.py
  src/models/api/link.py
  src/models/file_io/xhtml_file_io.py
  src/views/statistics/xhtml.py
  tests/api/handler/test_pypdf.py
  tests/api/handler/test_xhtml.py
Due: black, codespell, bandit, isort, pyupgrade, flake8, mypy

chore: pre-commit fixes
  tests/api/handler/test_xhtml.py
Due: black, codespell, bandit, isort, pyupgrade, flake8, mypy

fix: Make content-type check case insensitive.
  src/models/api/handlers/xhtml.py
Due: black, codespell, bandit, isort, pyupgrade, flake8, mypy

Replace bandit, flake8, isort, and pyupgrade with ruff
  .github/workflows/lint_python.yml
  .isort.cfg
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/models/api/handlers/all.py
  src/models/file_io/__init__.py
  src/models/file_io/article_file_io.py
  src/models/file_io/references.py
  src/models/identifiers_checking/doi.py
  src/models/wikimedia/wikipedia/analyzer.py
  src/models/wikimedia/wikipedia/reference/template/template.py
  src/models/wikimedia/wikipedia/url.py
  tests/wikipedia/reference/test_extractor.py
  tests/wikipedia/reference/test_template.py
Due: black, codespell, bandit, isort, pyupgrade, flake8, mypy

feat: Improve error reporting for pdf endpoint by propagating them from PypdfHandler
  src/models/api/handlers/pypdf.py
  src/views/statistics/pdf.py
Due: black, codespell, bandit, isort, pyupgrade, flake8, mypy

chore: pre-commit fixes
  src/models/api/handlers/pypdf.py
Due: black, codespell, bandit, isort, pyupgrade, flake8, mypy

chore: Fix coverage invocation
  run-test-coverage.sh
Due: none

fix: Fix failing tests
  tests/api/handler/test_xhtml.py
  tests/api/test_pdf.py
Due: black, codespell, bandit, isort, pyupgrade, flake8, mypy

chore: Update coverage
  TEST_COVERAGE.txt
Due: none

fix: Commit missing file
  test_data/mwg-fdr-document-04-16-23-1-270.pdf
Due: none

fix: Make all tests pass and remove deprecated pypdf code and dependency.
  poetry.lock
  pyproject.toml
  src/models/api/handlers/pypdf.py
  tests/api/handler/test_pdf_handler.py
Due: black, codespell, bandit, isort, pyupgrade, flake8, mypy
